.Form {
    width: 350px;
    height: 520px;
    padding: 15px;
    margin: 10px auto;
    border-radius: 7px;
    background-color: #3ad886;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
 }
 
 .Form-image {
    height: 200px;
 }
 
 .Form>input {
    align-self: stretch;
 }
 
 .Form-button-box {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    padding: 10px 0 0 0;
 }
 
 .Form-button-box>button {
    padding: 10px;
    margin: 5px 10px;
    background-color: #ed6b5a;
    border-radius: 7px;
    border: none;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    font-size: 16px;
 }